@import url(http://fonts.googleapis.com/css?family=Antic+Slab);
@import url(cispa.css);
#source {
  margin-right: 400px;
  overflow: auto;
  position: relative; }

.annotator-listing {
  list-style-type: none;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: #666666;
  line-height: 1.2em;
  text-align: left;
  margin: 0;
  padding: 0;
  background: none; }
  .annotator-listing p {
    margin: 0;
    margin-bottom: 0.5em; }
  .annotator-listing input, .annotator-listing textarea {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font: sans-serif;
    padding: 0.5em; }
    .annotator-listing input:active, .annotator-listing textarea:active {
      border: none;
      outline: none; }
    .annotator-listing input:focus, .annotator-listing textarea:focus {
      outline: none; }
  .annotator-listing button {
    border: 1px solid rgba(31, 31, 31, 0.31);
    border-radius: 3px;
    padding: 0.5em;
    -moz-box-shadow: 0px 1px 0px #999999;
    -webkit-box-shadow: 0px 1px 0px #999999;
    -o-box-shadow: 0px 1px 0px #999999;
    box-shadow: 0px 1px 0px #999999;
    position: relative; }
    .annotator-listing button:active {
      top: 1px;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      -o-box-shadow: none;
      box-shadow: none; }

.annotator-component {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em; }

.annotator-hl {
  background: rgba(255, 255, 10, 0.3); }

#annotator {
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  margin-left: 1em;
  padding-bottom: 1em;
  overflow: auto;
  width: 410px;
  -moz-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
  border-left: 1px dotted #9e9c94; }

.annotator-tag {
  background: #e3e5e8;
  color: #545045;
  border-radius: 2px;
  border: 1px solid #abb0ba;
  padding: 0.1em 0.5em;
  padding-bottom: 0.25em; }
  .annotator-tag.var1 {
    padding: 0; }

.annotator-user {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #c12c3b;
  line-height: 1.2em;
  text-align: left; }

.annotator-time {
  color: #a39e8f;
  font-size: 0.8em; }

.annotator-heatmap {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1.5em;
  -moz-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1);
  background: white;
  border-left: 1px dotted #999999; }
  .annotator-heatmap .annotator-heatmap_tab {
    text-align: center;
    -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    background: #fcfcfc;
    position: absolute;
    top: 43%;
    width: 3em;
    right: 0.2em;
    padding: 0.25em 0;
    font-family: sans-serif;
    font-size: 1em;
    border: 1px dotted #999999;
    border-right: none; }
    .annotator-heatmap .annotator-heatmap_tab:hover {
      background: #eeeeee; }
    .annotator-heatmap .annotator-heatmap_tab:active {
      box-shadow: none; }

.annotator-score {
  font-size: 1.3em;
  text-align: center;
  -moz-box-shadow: 2px 2px 8px #666666 inset;
  -webkit-box-shadow: 2px 2px 8px #666666 inset;
  -o-box-shadow: 2px 2px 8px #666666 inset;
  box-shadow: 2px 2px 8px #666666 inset;
  border-radius: 0.5em;
  float: left;
  display: inline-block;
  padding: 0 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.25em; }
  .annotator-score .annotator-up {
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-image: url("../images/up_1.png");
    opacity: 0.5;
    padding: 0;
    width: 2em;
    height: 1.5em;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto; }
  .annotator-score .annotator-down {
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-image: url("../images/down_1.png");
    opacity: 0.5;
    padding: 0;
    width: 2em;
    height: 1.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto; }
  .annotator-score .annotator-label {
    font-weight: bold;
    margin: 0;
    padding: 0.25em 0;
    color: #666666; }
    .annotator-score .annotator-label.annotator-selected {
      border-top: 0.5em solid #666666;
      border-bottom: 0.5em solid #666666; }

.annotator-updown {
  text-align: center; }
  .annotator-updown div:first-child {
    margin-bottom: 0.25em; }
  .annotator-updown .annotator-up {
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-image: url("../images/up_1.png");
    padding: 0;
    width: 2em;
    height: 1.5em;
    margin-bottom: 0.25em;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle; }
  .annotator-updown .annotator-down {
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-image: url("../images/down_1.png");
    padding: 0;
    width: 2em;
    height: 1.5em;
    margin-bottom: 0.25em;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle; }
  .annotator-updown .annotator-label {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: #666666; }

.annotator-annotation_detail {
  -moz-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
  background: #fcfcfc;
  position: relative; }

.annotator-reply {
  border-left: 1px dotted #b6b4af;
  background: rgba(247, 249, 252, 0.1);
  -moz-box-shadow: 0px 0px 50px rgba(133, 133, 133, 0.1);
  -webkit-box-shadow: 0px 0px 50px rgba(133, 133, 133, 0.1);
  -o-box-shadow: 0px 0px 50px rgba(133, 133, 133, 0.1);
  box-shadow: 0px 0px 50px rgba(133, 133, 133, 0.1);
  margin-left: 1em;
  margin-top: 1.5em; }

.annotator-annotation_summary {
  border-left: 1px dotted #b6b4af;
  background: rgba(247, 249, 252, 0.1);
  -moz-box-shadow: 0px 0px 50px rgba(133, 133, 133, 0.1);
  -webkit-box-shadow: 0px 0px 50px rgba(133, 133, 133, 0.1);
  -o-box-shadow: 0px 0px 50px rgba(133, 133, 133, 0.1);
  box-shadow: 0px 0px 50px rgba(133, 133, 133, 0.1);
  background: #fcfcfc;
  margin-left: 1em;
  margin-top: 1em;
  padding-bottom: 1em;
  border: 0; }
  .annotator-annotation_summary .annotator-score {
    float: left;
    margin-right: 1em;
    margin-top: 0.8em; }
    .annotator-annotation_summary .annotator-score .annotator-label {
      font-size: 1.8em; }
  .annotator-annotation_summary .annotator-tag {
    clear: none;
    float: right;
    margin-right: 0.5em;
    margin-top: 0.2em; }

.annotator-writer {
  overflow: hidden;
  *zoom: 1;
  margin: 0; }
  .annotator-writer button {
    margin: 1em; }
  .annotator-writer .fake_fieldset {
    z-index: 10;
    overflow: hidden;
    *zoom: 1;
    background: white;
    box-shadow: 1px 1px 4px rgba(209, 209, 209, 0.31);
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 13px;
    color: #706b5c;
    line-height: 1.2em;
    text-align: left;
    -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    padding: 0.5em;
    position: relative; }
  .annotator-writer .annotator-updown {
    position: absolute;
    top: 0.5em; }
    .annotator-writer .annotator-updown button {
      margin-bottom: 0.5em;
      clear: both;
      display: block;
      width: 1.5em;
      height: 1em; }
    .annotator-writer .annotator-updown button:last-child {
      margin-bottom: 0; }
  .annotator-writer textarea {
    width: 100%;
    max-width: 90%;
    margin: 0;
    margin-left: 9%;
    float: right;
    min-height: 5em;
    padding: 0; }
  .annotator-writer input {
    float: left;
    width: 80%;
    vertical-align: bottom; }
  .annotator-writer .annotator-controls {
    float: right;
    padding-top: 0.5em; }
    .annotator-writer .annotator-controls button {
      clear: none;
      margin-right: 0.25em; }
    .annotator-writer .annotator-controls button:last-child {
      margin-right: 0; }

.annotator-faver {
  overflow: hidden;
  *zoom: 1;
  margin: 0; }
  .annotator-faver button {
    margin: 1em; }
  .annotator-faver .fake_fieldset {
    z-index: 10;
    overflow: hidden;
    *zoom: 1;
    background: white;
    box-shadow: 1px 1px 4px rgba(209, 209, 209, 0.31);
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 13px;
    color: #706b5c;
    line-height: 1.2em;
    text-align: left;
    -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    padding: 0.5em;
    position: relative; }
    .annotator-faver .fake_fieldset .annotator-label {
      color: #a39e8f;
      font-size: 0.8em;
      font-size: 1.2em;
      float: left;
      vertical-align: middle; }
  .annotator-faver textarea {
    width: 100%;
    max-width: 90%;
    margin: 0;
    margin-left: 9%;
    float: right;
    min-height: 5em;
    padding: 0; }
  .annotator-faver input {
    float: left;
    width: 80%;
    vertical-align: bottom; }
  .annotator-faver .annotator-controls {
    float: left;
    padding-top: 0.25em;
    clear: none; }
    .annotator-faver .annotator-controls button {
      margin-right: 0.25em; }
    .annotator-faver .annotator-controls button:last-child {
      margin-right: 0; }

.annotator-flagger {
  overflow: hidden;
  *zoom: 1;
  margin: 0; }
  .annotator-flagger button {
    margin: 1em; }
  .annotator-flagger .fake_fieldset {
    z-index: 10;
    overflow: hidden;
    *zoom: 1;
    background: white;
    box-shadow: 1px 1px 4px rgba(209, 209, 209, 0.31);
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 13px;
    color: #706b5c;
    line-height: 1.2em;
    text-align: left;
    -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    padding: 0.5em;
    position: relative;
    text-align: center; }

.annotator-tabs {
  overflow: hidden;
  *zoom: 1;
  position: absolute;
  top: -2em; }
  .annotator-tabs .annotator-tab {
    float: left;
    padding: 0.25em 0.5em;
    margin-right: 0.5em;
    margin-bottom: -1px;
    -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    background: #fcfcfc; }
    .annotator-tabs .annotator-tab:hover {
      background: #eeeeee; }
    .annotator-tabs .annotator-tab:active {
      box-shadow: none; }

.annotator-meta {
  overflow: hidden;
  *zoom: 1;
  background: rgba(247, 249, 252, 0.1); }
  .annotator-meta.var1 {
    padding: 0.25em; }
    .annotator-meta.var1 .annotator-tags {
      float: left;
      width: 60%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-top: 0.5em;
      margin-bottom: 0.5em; }
      .annotator-meta.var1 .annotator-tags .annotator-tag {
        padding: 0.25em; }
    .annotator-meta.var1 .annotator-container {
      text-align: right;
      float: right; }

.annotator-excerpt {
  font-family: "Antic Slab", serif;
  font-size: 1.1em;
  color: black;
  margin: 0;
  margin-bottom: 2em;
  padding: 1em; }

.annotator-iconbutton, button.annotator-write, button.annotator-flag, button.annotator-fave, button.annotator-save, button.annotator-delete, button.annotator-link, button.annotator-facebook, button.annotator-twitter, button.annotator-google, button.annotator-up, button.annotator-down {
  border: none;
  background: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  margin: 0;
  width: 1.8em;
  height: 1.8em;
  opacity: 0.4; }
  .annotator-iconbutton:hover, button.annotator-write:hover, button.annotator-flag:hover, button.annotator-fave:hover, button.annotator-save:hover, button.annotator-delete:hover, button.annotator-link:hover, button.annotator-facebook:hover, button.annotator-twitter:hover, button.annotator-google:hover, button.annotator-up:hover, button.annotator-down:hover, .annotator-iconbutton :active, button.annotator-write :active, button.annotator-flag :active, button.annotator-fave :active, button.annotator-save :active, button.annotator-delete :active, button.annotator-link :active, button.annotator-facebook :active, button.annotator-twitter :active, button.annotator-google :active, button.annotator-up :active, button.annotator-down :active {
    opacity: 0.8; }

button.annotator-write {
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("../images/pen_1.png");
  background-image: url("../images/pen_1.png"); }

button.annotator-flag {
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("../images/flag_1.png"); }

button.annotator-fave {
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("../images/fave_3.png"); }

button.annotator-save {
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("../images/submit_1.png");
  width: 2em;
  height: 2em; }

button.annotator-delete {
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("../images/delete_1.png");
  width: 2em;
  height: 2em; }

button.annotator-link {
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("../images/link_1.png");
  height: 2em;
  width: 2em; }

button.annotator-facebook {
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("../images/facebook_1.png");
  height: 2em;
  width: 2em; }

button.annotator-twitter {
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("../images/twitter_1.png");
  height: 2em;
  width: 2em; }

button.annotator-google {
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("../images/google_1.png");
  height: 2em;
  width: 2em; }

button.annotator-up {
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("../images/up_1.png");
  height: 1em;
  width: 1.5em; }

button.annotator-down {
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("../images/down_1.png");
  height: 1em;
  width: 1.5em; }
