.basic, .heatmap, .heatmap .pointer, .notifier .icon, .input-menu .annotate, .input-menu .favorite, .input-menu .flag {
  border: 1px solid black;
  border-radius: 2px;
  background: white; }

.item, .annotate-input, .content, .incoming, .user {
  border-top: 1px solid white;
  border-bottom: 1px solid #aaaaaa;
  border-left: 2px solid #aaaaaa;
  padding: 0.5em; }

.stance {
  font-size: 1.1em;
  border-radius: 2px;
  padding-bottom: -0.3em;
  padding-top: 0.2em;
  padding-left: 0.3em;
  padding-right: 0.3em; }

.fyi {
  background: yellow;
  border-bottom: 1px solid black;
  border-top: 1px solid white; }

.disagree {
  background: #ffdddd;
  color: red;
  border: 1px solid red; }

.agree {
  background: #ddffdd;
  color: green;
  border: 1px solid green; }

.colonialism {
  background: white;
  color: brown;
  border: 1px solid brown; }

.multiplier {
  font-size: 0.9em;
  margin-left: -1px;
  vertical-align: bottom; }

.fixframe {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  font-family: sans-serif;
  font-size: 0.9em; }
  .fixframe p {
    margin-top: 0; }

.scrolling {
  height: 100%;
  position: relative;
  clear: none; }

.dylan {
  text-align: center;
  font-size: 1em;
  line-height: 1em; }

.heatmap {
  position: absolute;
  right: 0;
  top: 7px;
  bottom: 0;
  width: 20px; }
  .heatmap .pointer {
    position: absolute;
    left: -10px;
    height: 20px;
    width: 25px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    background: white; }

.notifier {
  position: absolute;
  top: 0;
  left: -76px; }
  .notifier .icon {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 1px; }

.input-menu .annotate {
  height: 1.5em;
  width: 1.5em;
  display: inline-block; }
.input-menu .favorite {
  height: 1.5em;
  width: 1.5em;
  display: inline-block; }
.input-menu .flag {
  height: 1.5em;
  width: 1.5em;
  display: inline-block; }

.detail {
  background: #fdf8f8;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  overflow: auto; }

.time {
  font-size: 0.9em;
  margin-bottom: 1em; }

.utility {
  font-size: 1.1em;
  text-align: right;
  text-decoration: underline; }

.annotation {
  background: #fdf8f8; }
  .annotation .user {
    background: #faeded; }

.reply {
  background: #faeded;
  margin-left: 1em; }
  .reply .user {
    background: #efdcdc; }

.content {
  overflow: hidden;
  border-bottom: 1px solid #aaaaaa; }

.incoming {
  font-size: 0.9em;
  text-align: right; }

.user {
  font-weight: bold; }

.bucket {
  width: 300px;
  overflow: auto;
  height: 100%; }
  .bucket .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.3; }
  .bucket .annotation .content {
    max-height: 10em; }

#icon1, #pointer1, #card1 {
  cursor: pointer;
  box-shadow: 0px 0px 5px #b4cdcd inset; }
